<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine on
</IfModule>


RewriteEngine On

Redirect /index.html /public/index.html
Redirect /test_htaccess/index.html /test_htaccess/public/index.html
Redirect https://tempetflamer.github.io/test_htaccess/ https://tempetflamer.github.io/test_htaccess/public/index.html
Redirect https://tempetflamer.github.io/test_htaccess/index.html https://tempetflamer.github.io/test_htaccess/public/index.html
Redirect https://tempetflamer.github.io/test_htaccess/README.md https://tempetflamer.github.io/test_htaccess/public/index.html

